# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# MNIST/
*/MNIST/
*.ubyte


# model IA

*.pt
*.pth

#image et pdf 

*.pdf
*.png
*.jpg
*.jpeg

# Environnements virtuels
.env
.venv/
env/
venv/

# Fichiers de logs et temporaires
*.log
*.tmp
*.swp

# Dossiers de build / cache
build/
dist/
*.egg-info/

# Notebooks et sorties
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers IDE
.vscode/
.idea/

# Données locales
data/
output/
